
LocalPersistenceExample.xcodeproj/project.xcworkspace/xcuserdata/sahil.reddy.xcuserdatad/UserInterfaceState.xcuserstate

LocalPersistenceExample.xcodeproj/xcuserdata/sahil.reddy.xcuserdatad/xcschemes/xcschememanagement.plist
